@use 'vars';
@use 'mixins' as *;
@use 'sass:color';

// - - - - - - - - - - - - - - - - - -

// Contact form

// - - - - - - - - - - - - - - - - - -

.contact-form {
	background: vars.$background-alt-color;
	margin: 20px auto;
	width: 100%;
	padding: 20px;

	@include mq(tabletp) {
		margin: 30px auto;
		padding: 40px;
	}

	@include mq(tabletl) {
		max-width: calc(80% + 80px);
	}

	@include mq(laptop) {
		margin: 40px auto;
		max-width: calc(75% + 100px);
		padding: 50px;
	}

	@include mq(desktop) {
		max-width: calc(70% + 120px);
		padding: 60px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item {
	margin-top: 15px;

	@include mq(tabletp) {
		margin-top: 20px;
	}

	@include mq(laptop) {
		margin-top: 30px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item--error {

	.contact-form__input,
	.contact-form__textarea {
		border-color: vars.$error-color;
	}
}

.contact-form__label {
	display: block;
	font-size: vars.$p-small;
	font-weight: vars.$bold-weight;
	color: vars.$text-medium-color;

	@include mq(tabletp) {
		font-size: vars.$p-medium;
	}

	@include mq(laptop) {
		font-size: vars.$p-large;
	}
}

.contact-form__input,
.contact-form__textarea {
	width: 100%;
	margin-top: 8px;
	border: 2px solid vars.$border-color;
	border-radius: 2px;
	padding: 10px 12px;
	background: vars.$background-color;
	font-size: vars.$p-small;
	line-height: 1.4;
	color: vars.$text-dark-color;
	@include transition(all 0.15s ease-in-out);

	@include mq(tabletp) {
		padding: 15px 18px;
		font-size: vars.$p-medium;
	}

	@include mq(laptop) {
		font-size: vars.$p-large;
	}

	&:focus {
		outline: none;
		border-color: vars.$accent-color;
	}
}

::-webkit-input-placeholder {
	color: color.adjust(vars.$text-light-color, $lightness: 15%);
}
::-moz-placeholder {
	color: color.adjust(vars.$text-light-color, $lightness: 15%);
}
:-ms-input-placeholder {
	color: color.adjust(vars.$text-light-color, $lightness: 15%);
}
:-moz-placeholder {
	color: color.adjust(vars.$text-light-color, $lightness: 15%);
}

.contact-form__textarea {
	min-height: 200px;
	resize: none;
}