// - - - - - - - - - - Variables


// Colors

$background-color: #fdfbf1;
$background-alt-color: #fdfbf3;
$border-color: #dddddd;

$text-dark-color: #08090a;
$text-medium-color: #222223;
$text-light-color: #ABB7B7;

$accent-color: #B4D5FE;

$overlay-background-color: #161B21;
$overlay-text-color: #ABB7B7;

$error-color: #02479d;


// Fonts

$body-font: "Open Sans", sans-serif;
$title-font: "Merriweather", serif;

$regular-weight: 400;
$bold-weight: 600;


// Typography

$sitetitle-small: 1.5625rem;
$sitetitle-medium: 1.875rem;
$sitetitle-large: 2.1875rem;
$sitetitle-weight: 400;
$sitetitle-spacing: 0em;

$sitetagline-small: 1rem;
$sitetagline-medium: 1.0625rem;
$sitetagline-large: 1.125rem;
$sitetagline-weight: 400;
$sitetagline-spacing: 0em;
$sitetagline-lineheight: 1.5;

$menu-small: 1.875rem;
$menu-medium: 1.0625rem;
$menu-large: 1.125rem;
$menu-weight: 400;
$menu-spacing: 0em;

$h1-small: 1.375rem;
$h1-medium: 1.5625rem;
$h1-large: 1.875rem;
$h1-weight: 400;
$h1-spacing: 0em;
$h1-lineheight: 1.6;

$h2-small: 1.0625rem;
$h2-medium: 1.375rem;
$h2-large: 1.375rem;
$h2-weight: 400;
$h2-spacing: 0em;
$h2-lineheight: 1.6;

$h3-small: 1.0625rem;
$h3-medium: 1.25rem;
$h3-large: 1.25rem;
$h3-weight: 400;
$h3-spacing: 0em;
$h3-lineheight: 1.6;

$h4-small: 0.75rem;
$h4-medium: 0.875rem;
$h4-large: 1rem;
$h4-weight: 400;
$h4-spacing: 0em;
$h4-lineheight: 1.6;

$h5-small: 0.625rem;
$h5-medium: 0.75rem;
$h5-large: 0.875rem;
$h5-weight: 400;
$h5-spacing: 0em;
$h5-lineheight: 1.6;

$h6-small: 0.5rem;
$h6-medium: 0.625rem;
$h6-large: 0.75rem;
$h6-weight: 400;
$h6-spacing: 0em;
$h6-lineheight: 1.6;

$p-small: 0.8125rem;
$p-medium: 1rem;
$p-large: 1.125rem;
$p-weight: 400;
$p-spacing: 0em;
$p-lineheight: 1.6;

$blockquote-small: 1.0625rem;
$blockquote-medium: 1.25rem;
$blockquote-large: 1.25rem;
$blockquote-weight: 400;
$blockquote-spacing: -0.02em;
$blockquote-lineheight: 1.6;

$button-weight: 600;
$button-spacing: 0em;

$footnote-small: 0.625rem;
$footnote-medium: 0.75rem;
$footnote-large: 0.9375rem;
$footnote-weight: 400;
$footnote-spacing: 0em;
$footnote-lineheight: 1.6;

// Header
$overlay-opacity: 0.7;

// Logo
$logo-width: 200px;

// Grid item
$grid-spacing: 10px;