// - - - - - - - - - - - - - - - - - -

// Scott added for homepage

// - - - - - - - - - - - - - - - - - -

// To make homepage image change color when moused over:
.homepage-image {
    &:hover {
        opacity: 0.85;
        }
    }
    
.image-holder {
    max-width: 45vh;
    margin-left: auto;
    margin-top: 4vh;
    margin-bottom: 0;
    margin-right: auto;
    display: block;
    background-color: $accent_color;
    text-align: center;
}

// To make list of awards flow horizontally if possible:
.horizontal-list {
    text-align: center;
    padding-left: 0;

    li {
        display: inline-block;
        padding-right: 0;

        &:before {
            padding-left: 3px;
            padding-right: 5px;
        }

        // @include mq(tabletl) {
        //     &:first-of-type:before {
        //         content: "";
        //     } 
        // }
    }
}