---
name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.7'
        bundler-cache: true
    - name: Set up Bun package manager
      uses: oven-sh/setup-bun@v2
    - name: Install deps
      run: bun install
    - name: Update robots.txt
      run: ./scripts/update-robots.sh
    - name: Build site
      env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        READ_TOKEN: ${{ secrets.READ_TOKEN }}
      run: |
        bun run tinacms build && bundle exec jekyll build
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.7.4
      env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        READ_TOKEN: ${{ secrets.READ_TOKEN }}
      with:
        folder: _site
